* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    overflow-x: hidden;
    background-color: #faf1e0;
  }

.imagem-fundo img{
  width: 100%;

}



nav ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  margin-right: 10px;
 
  
  

}

a:hover{
  opacity: 0.7;
}

.logo img{
  width: 350px;
  height: 250px;
  margin-top: 40px;
 margin-left: -200px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #135F8B;
  height: 8vh;
}


.texto-topo{
  color: #fff;
  margin: 60px;
  margin-left: 700px;
}

.nav-list{
  list-style: none;
  display: flex;

}

.nav-list li{
  letter-spacing: 5px;
  margin-left: 32px;
  margin-top: 15px;
}

#home{
    margin-top: -5px;
    color: #ffffff;
    display: block;
    background: #F76C30;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    
}
.home-list{
  list-style: none;
  margin-right: -250px;
  margin-top: 5px;
}

.separador{
  color: #fff;
  margin-right: -400px;
}



/* Estilo card Noticias */

.container{
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: auto ;
  margin-top: 50px;
  padding: 30px;
  margin-bottom: 50px;
  

}
.audio{
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  margin: auto ;
  margin-top: 50px;
  padding: 30px;
  padding-bottom: 10px;
  
}
.audio  .banner-audio{
  padding-right: 400px;
  width: auto;
}
.titulo{
  font-size: 30px;
  padding-bottom: 20px;
}
.texto{
  margin-top: 20px;
  font-size: 20px;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.noticia{
  width: 700px;

}