#container{
    display: flex;
    width: 80%;
    text-align: start;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: auto ;
    margin-top: 50px;
    padding: 30px;
    margin-bottom: 30px;

    
}

 #container h1{
    font-size: 60px;
    margin-top: 10px;
    color: #F76C30;
}
#container p{
    font-size: 20px;
    text-align: center;
    padding-left: 50px;
    
}

.texto-noticia{
    align-items: center;
    justify-content: center;
}

.fontes{
  
    margin-top: 80px;
    align-items: flex-start;
}
.fontes a{
    text-decoration: none;
    color: black;
    font-size: 14px;
   text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;

}

img{
    width: 15%;
   margin-right: 20px;
   padding: 20px;

}


