* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  background-color: #faf1e0;
}


.sobre{
  padding: 10px;
  height: 180px;
  font-family: Arial, Helvetica, sans-serif;
  
}


nav ul li a{
color: #ffffff;
text-decoration: none;
font-size: 15px;
margin-right: 10px;




}

a:hover{
opacity: 0.7;
}

.logo img{
width: 400px;
height: 300px;
margin-top: 40px;
margin-right: 10px;
}

nav{
display: flex;
justify-content: space-around;
align-items: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background: #135F8B;
height: 8vh;
}


.texto-topo{
color: #fff;
margin: 60px;
margin-left: 700px;
}

.nav-list{
list-style: none;
display: flex;

}

.nav-list li{
letter-spacing: 5px;
margin-left: 32px;
margin-top: 15px;
}

#home{
  margin-top: -5px;
  color: #ffffff;
  display: block;
  background: #F76C30;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  
}
.home-list{
list-style: none;
margin-right: -250px;
margin-top: 5px;
}

.separador{
color: #fff;
margin-right: -400px;
}
  
  .titulo {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
    margin-top: 30px;
  }
  
  .titulo::before {
    content: "";
    width: 10rem;
    height: 0.8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
  }
  
  .card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  
  .card {
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
    
  }
  
  .card .card-img {
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
  }
  
  .profile-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 0.5rem solid #ebeef8;
  }
  
  .card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 300;
  }
  
  .job-profile{
    color: #777;
    font-size: 2rem;
    font-weight: 300;
  }
  
  .sobre {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
  }
  
  .card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all 0.5s;
    text-decoration: none;
  }
  
  .card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, blue0, 2);
  }
  
  .card .btn:active {
    transform: translateY(0);
    box-shadow: none;
  }
  
  .social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  

.social-media i{
    font-size: 4rem;
}
.fa-linkedin{
    color: blue;
}
.fa-linkedin:hover{
    color: #45e19f;
}

@media  screen and (min-width: 700px){
    .card-wrapper{ 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin: 2rem;
        
    }
}




